@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2

<div class="col-lg-12 p-1">

    @(Html.EJS()
    .Grid("grdOverview")
    .Height("450")
    //.DataSource(ds =>
    //{
    //    ds
    //    .Url(@Url.Action("UrlDataSource/{id}", "FixedContract", new { Area = "Transactions" }))
    //    .Adaptor("UrlAdaptor")
    //    ;
    //})
    .ShowColumnMenu(false).AllowSorting()
    .AllowPaging(true).PageSettings(page => page.PageCount(5))
    .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
    .AllowExcelExport()
    .Toolbar(new List<object>() {
    new { id ="toolbar_edit", text = "Edit", prefixIcon = "e-icons e-edit" },
    new { id ="toolbar_del", text = "Delete", prefixIcon = "e-icons e-delete" },
    new { id ="toolbar_excel", text = "Excel", prefixIcon = "e-icons e-excelexport" },
    //new { text = "Print", prefixIcon = "e-icons e-print" },
    })
    .AllowResizing()
    .EditSettings(edit =>
    {
        edit
        .AllowEditOnDblClick(false)
        .AllowAdding(true)
        .AllowEditing(true)
        .AllowDeleting(true).ShowConfirmDialog(true).ShowDeleteConfirmDialog(true)
        //.Mode(EditMode.Dialog)
        //.Template("#dialogtemplate")
        ;
    })
    .Columns(col =>
    {

        col.HeaderText("Product").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "BRAND_NAME",
                    HeaderText  = "Brand",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NGPP",
                    HeaderText  = "SKU",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.HeaderText("Normal").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NDP",
                    HeaderText  = "Discount %",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NGPP",
                    HeaderText  = "GP %",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NSPBTH",
                    HeaderText  = "Shelf Price (BTH)",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.HeaderText("Promotion").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMODP",
                    HeaderText  = "Discount %",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMOGPP",
                    HeaderText  = "GP %",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMOSPBTH",
                    HeaderText  = "Shelf Price (BTH)",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.HeaderText("(BTH)").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMODP",
                    HeaderText  = "Deal Guideline",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMOGPP",
                    HeaderText  = "Net Into Store",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMOSPBTH",
                    HeaderText  = "Average Sale",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.HeaderText("(CV)").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMODP",
                    HeaderText  = "Avg Volume",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMOGPP",
                    HeaderText  = "Sale QTY.",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.Field("Trade_Activity").HeaderText("Sale Value (Excl.VAT/BTH)").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Trade_Activity").HeaderText("Sales UOM").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Trade_Activity").HeaderText("Discount Type").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Trade_Activity").HeaderText("Request By").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Trade_Activity").HeaderText("Request Date").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Trade_Activity").HeaderText("Update By").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("Trade_Activity").HeaderText("Request Date").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();

    })
    .Render())

</div>