@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2
@model GFCA.APT.Domain.Dto.PromotionPlanngOverviewDto

<div class="col-lg-12 p-1">

    @(Html.EJS()
    .Grid("grdSaleList")
    .Height("450")
    .DataSource(ds =>
    {
        ds
        .Url(@Url.Action("UrlPromotionPlanningSaleList", "Promotion", new { Area = "Transactions", DOC_PROM_PH_ID = Model.DOC_PROM_PH_ID }))
        .Adaptor("UrlAdaptor")
        ;
    })
    .ShowColumnMenu(false).AllowSorting()
    .AllowPaging(true).PageSettings(page => page.PageCount(5))
    .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
    .AllowExcelExport()
    .Toolbar(new List<object>() {
    new { id ="toolbar_sale_add", text = "Add", prefixIcon = "e-icons e-add" },
    new { id ="toolbar_sale_edit", text = "Edit", prefixIcon = "e-icons e-edit" },
    new { id ="toolbar_sale_del", text = "Delete", prefixIcon = "e-icons e-delete" },
    new { id ="toolbar_sale_excel", text = "Excel", prefixIcon = "e-icons e-excelexport" },
    new { text = "Print", prefixIcon = "e-icons e-print" },
    })
    .AllowResizing()
    .EditSettings(edit =>
    {
        edit
        .AllowEditOnDblClick(false)
        .AllowAdding(true)
        .AllowEditing(true)
        .AllowDeleting(true).ShowConfirmDialog(true).ShowDeleteConfirmDialog(true)
        .Mode(EditMode.Dialog)
        //.Template("#dialogtemplate")
        ;
    })
    .RowDeselected("onGridSaleRowDeselected")
    .RowSelected("onGridSaleRowSelected")
    .Columns(col =>
    {
        col.HeaderText("Product").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "BRAND_NAME",
                    HeaderText  = "Brand",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROD_SKU",
                    HeaderText  = "SKU",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                }
            }
        ).Add();
        col.HeaderText("Normal").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NORM_PERC_DISC",
                    HeaderText  = "Discount %",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NORM_PERC_GP",
                    HeaderText  = "GP %",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NORM_SHELF_PRICE",
                    HeaderText  = "Shelf Price (BTH)",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();
        col.HeaderText("Promotion").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMO_PERC_DISC",
                    HeaderText  = "Discount %",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMO_PERC_GP",
                    HeaderText  = "GP %",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROMO_SHELF_PRICE",
                    HeaderText  = "Shelf Price (BTH)",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();
        col.HeaderText("(BTH)").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "DEAL_GUIDE_LINE",
                    HeaderText  = "Deal Guideline",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "NET_INTO_STORE",
                    HeaderText  = "Net Into Store",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "AVG_SALE",
                    HeaderText  = "Average Sale",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();
        col.HeaderText("(CV)").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "AVG_VOLUME",
                    HeaderText  = "Avg Volume",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "SALE_QTY",
                    HeaderText  = "Sale QTY.",
                    TextAlign = TextAlign.Center,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.Field("SALE_VALUE_EXCL_VAT").HeaderText("Sale Value (Excl.VAT/BTH)").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("SALE_UOM").HeaderText("Sales UOM").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("DISC_TYPE").HeaderText("Discount Type").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("CREATED_BY").HeaderText("Created By").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("CREATED_DATE").HeaderText("Created Date").Format("dd-MMM-yyyy hh:mm:ss").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("UPDATED_BY").HeaderText("Updated By").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();
        col.Field("UPDATED_DATE").HeaderText("Updated Date").Format("dd-MMM-yyyy hh:mm:ss").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();

    })
    .Render())

</div>