@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2
@model GFCA.APT.Domain.Dto.PromotionPlanngOverviewDto

<div class="col-lg-12 p-1">
    
    @(Html.EJS()
    .Grid("grdInvestment")
    .Height("450")
    .DataSource(ds =>
    {
        ds
        .Url(@Url.Action("UrlPromotionPlanningInvesmentList", "Promotion", new { Area = "Transactions", DOC_PROM_PH_ID = Model.DOC_PROM_PH_ID }))
        .Adaptor("UrlAdaptor")
        ;
    })
    .ShowColumnMenu(false).AllowSorting()
    .AllowPaging(true).PageSettings(page => page.PageCount(5))
    .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
    .AllowExcelExport()

    .Toolbar(new List<object>() {
        new { id ="toolbar_investment_add", text = "Add", prefixIcon = "e-icons e-add" },
        new { id ="toolbar_investment_edit", text = "Edit", prefixIcon = "e-icons e-edit" },
        new { id ="toolbar_investment_del", text = "Delete", prefixIcon = "e-icons e-delete" },
        new { id ="toolbar_investment_excel", text = "Excel", prefixIcon = "e-icons e-excelexport" },
        new { text = "Print", prefixIcon = "e-icons e-print" },
    })

    .EditSettings(edit =>
    {
        edit
        .AllowEditOnDblClick(false)
        .AllowAdding(true)
        .AllowEditing(false)
        .AllowDeleting(false).ShowConfirmDialog(false).ShowDeleteConfirmDialog(false)
        .Mode(EditMode.Normal)
        //.Template("#dialogtemplate")
        ;
    })
    .RowDeselected("onGridInvestRowDeselected")
    .RowSelected("onGridInvestRowSelected")
    .Columns(col =>
    {

        col.Field("ACTIVITY_NAME").HeaderText("Trade Activity").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Width("150").Add();
        col.HeaderText("Product").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "BRAND_NAME",
                    HeaderText  = "Brand",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Left,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "PROD_SKU",
                    HeaderText  = "SKU",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Left,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                }
            }
        ).Add();

        col.HeaderText("Investment").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "INVEST_TYPE",
                    HeaderText  = "Type",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "INVEST_VALUE",
                    HeaderText  = "Value",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Right,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "INVEST_AMOUNT",
                    HeaderText  = "Amount (BTH)",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Right,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                }
            }
        ).Add();
        
        col.HeaderText("Other").HeaderTextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns
        (
            new List<Syncfusion.EJ2.Grids.GridColumn>()
            {
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "OTHER_ACTIVITY_NAME",
                    HeaderText  = "Activity",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Left,
                    Format = "N2",
                    Width = "180",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "OTHER_AMOUNT",
                    HeaderText  = "Amount (BTH)",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Right,
                    Format = "N2",
                    Width = "150",
                    MinWidth = "130"
                },
                new Syncfusion.EJ2.Grids.GridColumn
                {
                    Field = "OTHER_ACTIVITY_COMBINED",
                    HeaderText  = "Combined Activity",
                    TextAlign = Syncfusion.EJ2.Grids.TextAlign.Center,
                    Width = "180",
                    MinWidth = "130"
                }
            }

        ).Add();

        col.Field("INCREMENT_SALE_INVEST").HeaderText("Incremental Sale/Investment").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("250").Add();
        col.Field("INVEST_ACC_CODE").HeaderText("GL - Account").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("FUND1_CENTER_CODE").HeaderText("Cost Center").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        
        col.Field("FUND2_CODE").HeaderText("Source of Fund2").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("FUND2_AMOUNT").HeaderText("Amount 2").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("REMARKS").HeaderText("Remarks").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("CREATED_BY").HeaderText("Request By").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("CREATED_DATE").HeaderText("Request Date").Format("dd-MMM-yyyy hh:mm:ss").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("UPDATED_BY").HeaderText("Updated By").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
        col.Field("UPDATED_DATE").HeaderText("Updated Date").Format("dd-MMM-yyyy hh:mm:ss").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Width("180").Add();
    })
    .Render())

</div>