@{
    var sys = (GFCA.APT.Domain.Dto.InfomationSystem)ViewBag.InfomationSystem;
}

<footer class="main-footer text-sm">
    <strong>Copyright &copy; 2014-2021 IT Smart.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block mr-lg-5">

        @if (sys.Environment.ToLower() == "dev")
        {
            <div class="ribbon-wrapper">
                <div class="ribbon bg-warning font-weight-light text-sm">
                    Dev
                </div>
            </div>
        }
        else if (sys.Environment.ToLower() == "uat")
        {
            <div class="ribbon-wrapper">
                <div class="ribbon bg-warning font-weight-light text-sm">
                    UAT
                </div>
            </div>
        }
        else if (sys.Environment.ToLower() == "staging")
        {
            <div class="ribbon-wrapper">
                <div class="ribbon bg-warning font-weight-light text-sm">
                    STAGE
                </div>
            </div>
        }

        <b>System</b>&nbsp;@sys.SystemVersion&nbsp;&nbsp;<b>Database</b>&nbsp;@sys.DatabaseVersion

    </div>
</footer>