<footer class="main-footer text-sm">
    <strong>Copyright &copy; 2014-2021 IT Smart.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> Development 1.0.1
    </div>
</footer>