@using Syncfusion.EJ2

<aside class="main-sidebar sidebar-light-primary elevation-4">

    <!-- Brand Logo -->
    <!-- Right navbar links -->
    <a href="/" class="brand-link">
        <img src="~/Content/dist/img/AsiaticAPTLogo.png" alt="Asiatic APT Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Asiatic APT</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-legacy nav-compact nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Documents
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Customer Overview</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Customer Event Plan</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/T/FixedContract" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Fixed Contract</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/T/SaleForecast" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sale forecast</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/T/BudgetPlan" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Budget Planing</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Masters
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        
                        <li class="nav-item">
                            <a href="/M/Brand" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Brand</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/M/Customer" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Customer</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/M/Channel" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Channel</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/M/Costcenter" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cost Center</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/m/glaccount" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>GL Account</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/M/Product" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Material &amp; Product</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/M/Client" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Client</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Company &amp; Site</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/M/Unit" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Unit</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/M/Pack" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Pack</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/M/Size" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Size</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/M/TradeActivity" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>TradeActivity</p>
                            </a>
                        </li>

                   

                        <li class="nav-item">
                            <a href="~/M/Vender" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p> Vender</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-header">MISCELLANEOUS</li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Interface files
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Material &amp; Product </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/layout/top-nav-sidebar.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Top Navigation + Sidebar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>Manual</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>