@*----------------- bugdet planing header -----------------*@
<div class="row mb-2">
    <div class="col col-lg p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h6>Budget planning by</h6>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col col-sm-12 col-lg-10">

                        <div class="row">

                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Client
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-client")
                                                    .Placeholder("-- Select --")
                                                    .Autofill(true)
                                                    .DataSource(o =>
                                                    {
                                                        o.Url("/api/Selection/GetClient")
                                                        .CrossDomain(false)
                                                        .Adaptor("UrlAdaptor");
                                                    })
                                                    .Enabled(true)
                                                    .CssClass("mandatory")
                                                    .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                    .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Customer
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-customer")
                                                    .Placeholder("-- Select --")
                                                    .Autofill(true)
                                                    .DataSource(o =>
                                                    {
                                                        o.Url("/api/Selection/GetCustomer")
                                                        .CrossDomain(false)
                                                        .Adaptor("UrlAdaptor");
                                                    })
                                                    .Enabled(true)
                                                    .CssClass("mandatory")
                                                    .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                    .Render())
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Requester
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-requester")
                                                    .Placeholder("-- Select --")
                                                    .Autofill(true)
                                                    .DataSource(o =>
                                                    {
                                                        o.Url("/api/Selection/GetEmployee/false")
                                                        .CrossDomain(false)
                                                        .Adaptor("UrlAdaptor");
                                                    })
                                                    .Enabled(true)
                                                    .CssClass("mandatory")
                                                    .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                    .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Position
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-emp-org")
                                                    .Placeholder("-- Select --")
                                                    .Autofill(true)
                                                    .DataSource(o =>
                                                    {
                                                        o.Url("/api/Selection/GetOrganization")
                                                        .CrossDomain(false)
                                                        .Adaptor("UrlAdaptor");
                                                    })
                                                    .Enabled(true)
                                                    //.Change("page.cmbPositionChange")
                                                    .CssClass("mandatory")
                                                    .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                    .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>