<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-default">Clone</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-default">Draft</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-success">Submit</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-success">Re-Submit</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-danger">Cancel</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-primary">Approve</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-warning">Revise</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-info">Review</a></li>
<li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-success">Commit</a></li>
