<li class="nav-item mr-sm-1"><a href="#" id="btn-clone" class="btn btn-sm btn-default">Clone</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-draft "class="btn btn-sm btn-default">Draft</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-submit" class="btn btn-sm btn-success">Submit</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-resubmit" class="btn btn-sm btn-success">Re-Submit</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-cancel" class="btn btn-sm btn-danger">Cancel</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-approve" class="btn btn-sm btn-primary">Approve</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-revise"class="btn btn-sm btn-warning">Revise</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-review" class="btn btn-sm btn-info">Review</a></li>
<li class="nav-item mr-sm-1"><a href="#" id="btn-Commit" class="btn btn-sm btn-success">Commit</a></li>
