
@using GFCA.APT.Domain.Enums
@using GFCA.APT.Domain.Dto
@model IEnumerable<GFCA.APT.Domain.Dto.DocumentHistoryDto>
@{
    //IEnumerable<DocumentHistoryDto> historiesDto = ViewData["DocumentHistoryDto"] as IEnumerable<DocumentHistoryDto>;
    var historiesDto = Model;
}
@*----------------- document histories footer -----------------*@
<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5>Audit &amp; History</h5>
            </div>
            <div class="card-body">

                <div>

                    <!-- Main node for this component -->
                    <div class="timeline">
                        <!-- Timeline time label -->
                        <div class="time-label">
                            <span class="bg-gradient-gray">History</span>
                        </div>

                        @if (historiesDto != null)
                        {

                            foreach (var history in historiesDto)
                            {
                                <div>
                                    @if (history.DOC_STATUS == DOCUMENT_STATUS.DRAFT)
                                    {
                                        <i class="fas fa-envelope bg-blue"></i>
                                    }
                                    else if (history.DOC_STATUS == DOCUMENT_STATUS.APPROVAL)
                                    {
                                        <i class="far fa-check-circle bg-green"></i>
                                    }
                                    else if (history.DOC_STATUS == DOCUMENT_STATUS.REVIEW)
                                    {
                                        <i class="fas fa-search-dollar bg-gradient-yellow"></i>
                                    }
                                    else if (history.DOC_STATUS == DOCUMENT_STATUS.REVISED)
                                    {
                                        <i class="fas fa-undo-alt bg-gradient-gray"></i>
                                    }
                                    else if (history.DOC_STATUS == DOCUMENT_STATUS.CANCELLED)
                                    {
                                        <i class="fas fa-power-off bg-gradient-red"></i>
                                    }
                                    else if (history.DOC_STATUS == DOCUMENT_STATUS.COMPLETED)
                                    {
                                        <i class="fas fa-star bg-gradient-blue" title="Completed"></i>
                                    }
                                    <div class="timeline-item">
                                        <span class="time"><i class="fas fa-clock"></i> @history.ACTION_DATETIME.ToString("dd/MM/yyyy HH:mm")</span>
                                        <h3 class="timeline-header"><a href="#">@history.ACTOR_NAME [@history.ACTOR_POSITION]</a> has submited request @history.DOC_STATUS</h3>
                                        <div class="timeline-body">
                                            @history.COMMENT
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                        @*
                            <div>
                                <!-- Before each timeline item corresponds to one icon on the left scale -->
                                <i class="fas fa-envelope bg-blue"></i>
                                <!-- Timeline item -->
                                <div class="timeline-item">
                                    <!-- Time -->
                                    <span class="time"><i class="fas fa-clock"></i> 21/08/2021 12:05</span>
                                    <!-- Header. Optional -->
                                    <h3 class="timeline-header"><a href="#">Panupong K [Sale Team A]</a> has submited request</h3>
                                    <!-- Body -->
                                    <div class="timeline-body">
                                        Fixed contract no 1234556789 has been created. Cocomax at Tesco lotus pattanakarn Rd.
                                    </div>
                                </div>
                            </div>

                            <div>
                                <!-- Before each timeline item corresponds to one icon on the left scale -->
                                <i class="far fa-check-circle bg-green"></i>
                                <!-- Timeline item -->
                                <div class="timeline-item">
                                    <!-- Time -->
                                    <span class="time"><i class="fas fa-clock"></i> 22/08/2021 12:05</span>
                                    <!-- Header. Optional -->
                                    <h3 class="timeline-header"><a href="#">Panupong K [Sale Manager]</a> has approved on SM Approval Process</h3>
                                    <!-- Body -->
                                    <div class="timeline-body">
                                        It's very good. too fast
                                    </div>
                                </div>
                            </div>

                            <div>
                                <!-- Before each timeline item corresponds to one icon on the left scale -->
                                <i class="fas fa-undo-alt bg-gradient-gray"></i>
                                <!-- Timeline item -->
                                <div class="timeline-item">
                                    <!-- Time -->
                                    <span class="time"><i class="fas fa-clock"></i> 23/08/2021 12:05</span>
                                    <!-- Header. Optional -->
                                    <h3 class="timeline-header"><a href="#">Panupong K [General Manager]</a> has rejected on GM Approval Process</h3>
                                    <!-- Body -->
                                    <div class="timeline-body">
                                        It's very good. too fast
                                    </div>
                                </div>
                            </div>

                            <div>
                                <!-- Before each timeline item corresponds to one icon on the left scale -->
                                <i class="fas fa-power-off bg-gradient-red"></i>
                                <!-- Timeline item -->
                                <div class="timeline-item">
                                    <!-- Time -->
                                    <span class="time"><i class="fas fa-clock"></i> 24/08/2021 12:05</span>
                                    <!-- Header. Optional -->
                                    <h3 class="timeline-header"><a href="#">Panupong K [Chief Executive Officer]</a> has cancelled on CEO Approval Process</h3>
                                    <!-- Body -->
                                    <div class="timeline-body">
                                        It's cool
                                    </div>
                                </div>
                            </div>

                            <div>
                                <!-- Before each timeline item corresponds to one icon on the left scale -->
                                <i class="fas fa-search-dollar bg-gradient-yellow"></i>
                                <!-- Timeline item -->
                                <div class="timeline-item">
                                    <!-- Time -->
                                    <span class="time"><i class="fas fa-clock"></i> 24/08/2021 12:05</span>
                                    <!-- Header. Optional -->
                                    <h3 class="timeline-header"><a href="#">Panupong K [Accountant]</a> has committed on Accountant Reviewer Process</h3>
                                    <!-- Body -->
                                    <div class="timeline-body">
                                        It's very good. too fast
                                    </div>
                                </div>
                            </div>
                        *@
                        <!-- The last icon means the story is complete -->
                        <!--
                        <div>
                            <i class="fas fa-clock bg-gray"></i>
                        </div>
                        -->
                        <div>
                            <i class="fas fa-star bg-gradient-blue" title="Completed"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>