@using Syncfusion.EJ2.Popups
@using System.Collections.Generic
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@{
    Dictionary<string, object> disabled = new Dictionary<string, object>();
    disabled.Add("disabled", "true");
}

<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5>Fixed contract detail</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    @Html.Partial("ItemDetailGridFixedContractPartial")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5>Approval</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-lg-9">
                        <div class="form-group row">
                            <textarea name="des" cols="2" rows="5" placeholder="Comment" class="e-control e-textbox e-lib e-input"></textarea>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                        <div class="form-group row">

                            <!-- Approval State -->
                            <button class="btn btn-primary" value="APPROVE">Approve</button>
                            <button class="btn btn-danger" value="REVISE">Revise</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5>Reviewer</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-lg-9">
                        <div class="form-group row">
                            <textarea name="des" cols="2" rows="5" placeholder="Comment" class="e-control e-textbox e-lib e-input"></textarea>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                        <div class="form-group row">

                            <!-- Review State -->
                            <button class="btn btn-info" value="REVIEW">Review</button>
                            <button class="btn btn-success" value="COMMIT">Commit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
